<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card"
	  {% if item.background %}
		style="
		  background-image: url('{{item.background}}'); 
		  background-repeat: no-repeat;
		  background-attachment: local;
		  background-size: cover;"
		>
		<div class="backgroundoverlay">
	  {% else %}
		>
	  {% endif %}
      <a href="{{ item.url }}">
        <span class="header">
          {{ item.title }}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}

        </span>

        <hr />

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        {% endif %}
      </a>
	  {% if item.background %}
	  </div>
	  {% endif %}
    </li>

  {% endfor %}
</ul>
